<h1>You have one client for you product!</h1>

<p>Our client <%= @user.name %> is interested for you product:</p>

<h2><%= @product.title %></h2>
<p><%= @product.description %></p>
<p>You can contact with him on this email: <%= @user.email %></p>

